@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .heading_text{
    @apply text-2xl
  }

  .nav_link{
    @apply md:p-2 p-1 font-poppins uppercase rounded-lg border border-Scream  hover:bg-Scream hover:border-orange-400 hover:text-Sblack text-white
  }
  .nav-link2{
    @apply text-Swhite  hover:bg-gradient-to-r from-Sgold to-Scream  p-1
      hover:text-Sblack transition-all duration-75 rounded-md text-lg
  }
  .nav-icon{
   @apply w-6 h-6 group-hover:animate-bounce text-Swhite group-hover:text-black
  }

  .mobile-nav-icon{
    @apply  w-6 h-6 group-focus:animate-bounce text-Scream group-hover:text-Sblack
  }

  .contact-input{
    @apply outline-none bg-slate-800 rounded-md border-b-2 border-Snavy focus:border-b-Scream focus:text-Scream px-6 py-4 text-gray-500 placeholder-gray-500 hover:border-Scream 
  }

  .tech-names{
    @apply outline-none xl:text-2xl lg:text-2xl md:text-xl text-lg text-gray-500 font-poppins p-2 
  }

  .resume-button{
    @apply rounded-md w-auto p-1 mx-2 h-auto text-Sblack bg-gradient-to-r from-Sgold to-Scream hover:bg-Sblack border-2 border-Syellow font-poppins  cursor-pointer 
  }
}

.main{
  background-image: url(/public/assets/grid.svg);
  opacity:2;
}



